.gearControl {                  /* style the CSS class that has been written by the renderer method */
        position: relative; /*display: inline-block;*/   /* enable squares to appear next to each other within one line */
        /*border: 1px dotted red;*/   /* add some border, so the square can actually be seen */
        /*background-color: #ddd;*/
        /*margin: 1rem;*/
        /*text-align: center;*/
        /*-moz-box-sizing: border-box;*/ /* consider padding+border part of the width/height */
        /*box-sizing: border-box;*/
    }
    
.gearGraphics {
        position: relative; /*display: inline-block;*/   /* enable squares to appear next to each other within one line */
        /*background-color: #ddd;*/
        /*margin: 0px;
        padding: 0px;*/
}

.ribbon-banner {
   display: block;
   /*display: none;*/
   position: fixed;
   text-align: center;
   opacity: 0.8;
   font-weight: 800;
   color: white;
   background-color: red;
   border: 2px solid white;
   z-index: 5;
   -o-transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   -moz-transform:    rotate(-45deg);
   -ms-transform:     rotate(-45deg);
   transform:         rotate(-45deg);
}
.ribbon-link{
    color: white;
}
.ribbon1{
    line-height:28px;
    font-size:18px;
}
.ribbon2{
    line-height:20px;
    font-size:12px;
} 
.close_ribbon{
    position: relative;
    width: 24px;
    height: 24px;
    left: 275px;
    top: -35px;
	color:white;
	cursor: pointer;
	/*border: 2px solid;*/
	/*border-radius: 100%;*/
	/*bottom: 10px;*/
}

.selectedGraphics canvas{
		outline: 1px dotted red;
}

.unSelectedGraphics canvas{
		border: none;
}

.canvasArea {
		position: absolute;
        /*background-color: #ddd;*/
        /*margin: 0px;
        padding: 1rem;*/
	
}
.scaleTick {
	position: absolute;
	height: 15px;
	width: 3px;
    border: none;
    left: 0px;
    margin: 0px;
    padding: 0px;
	background-color: #AAAAAA;

}

.teethNumber {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, (Chrome and Opera) */
	
}

.testTick {
	position: absolute;
	height: 15px;
	width: 1px;
	border: none;
	background-color: #FF0000;

}
.chainring {
	position:absolute;
    text-align: center;
    line-height: 50px;
	/*border-radius: 100%;*/
	/*width: auto;*/
	/*border: 1px dotted red;*/
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 2;
	margin: 0px;
	background-color: transparent;
	text-shadow: 3px 3px 4px #444;
	vertical-align: text-bottom;
	background-image: url('../images/Chainring.png');
	background-size: 50px 50px;
	/*-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 5px 5px 5px #888;*/
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, (Chrome and Opera) */
}

.cog {
	position:absolute;
    text-align: center;
    line-height: 50px;
	/*border-radius: 100%;*/
	/*width: auto;*/
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 2;
	border: none;
	margin: 0px;
	background-color: transparent;
	text-shadow: 3px 3px 4px #444;
	background-image: url('../images/Sprocket.png');
	background-size: 50px 50px;
	/*-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 5px 5px 5px #888;*/
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, (Chrome and Opera) */
}
div.callout {
	height: 30px;
	width: 150px;
	float: left;
    left: 260px;
    top: 35px;
    z-index: 3;
    display: none;
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #fff, #fff);
	position: absolute;
	color: #888;
	text-align: center;
	padding: 10px;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #999;
	margin: 25px;
	min-height: 20px;
	border: 1px solid #fff;

	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}
.callout::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
    left: 45%;
    top: -20px;
    border-bottom: 10px solid #fff;
}
